html, body {
    background-color: lightgoldenrodyellow;
    margin: 0;
    font-family: sans-serif;
}

body{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label, input{
    margin-top: 10px;
}

input[type="submit"]{
    display: block;
}

h1{
    text-align: center;
}

p{
  font-style: italic;
}
